.header {
    display: flex;
    background-color: lightblue;
    color: black;
    padding: 20px;
    justify-content: center;
}

#city-input {
    padding: 5px;
}

.search-button {
    margin-bottom: 4px;
}

#search-history {
    margin-top: 1%;
}

#weather-card {
    display: none;
    
}

